# Auto detect text files and perform LF normalization
* text=auto

# Ensure correct line endings and encoding for VBA files
*.bas eol=crlf working-tree-encoding=CP932
*.cls eol=crlf working-tree-encoding=CP932
*.frm eol=crlf working-tree-encoding=CP932